*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: rgba(103, 71, 108, 0.776);
    --secondaryColor: hsl(293, 76%, 43%);
    --optionalColor: hsl(275, 100%, 97%);
    --primaryFont: work sans;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background-color: var(--optionalColor);
}

.imageSection{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.bgSection{
    position: absolute;
    z-index: 0;
    top: 0;

    .bgImageMobile{
        display: none;
    }
}

main{
    z-index: 1;
    background-color: white;
    width: 40%;
    padding: 30px;
    box-shadow: 1px 1px 10px rgb(90, 89, 89);
    border-radius: 20px;
    font-family: var(--primaryFont);
}

.headingSection{
    display: flex;
    margin-bottom: 30px;

    .imageSection{
        width: 20px;
        margin-right: 10px;
    }
}

.block{
    .displayBlock{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .question{
            font-weight: 600;
            font-size: 18px;
            transition: color 0.1s linear;
            width: 80%;

            &:hover{
                color: var(--secondaryColor);
                cursor: pointer;
            }
        }

        .imageSection{
            width: 5%;
            border-radius: 50%;

            &:hover{
                cursor: pointer;
            }

            .minusLogo{
                display: none;
            }
        }
    }

    .hiddenBlock{
        display: none;
        color: var(--primaryColor);
        font-size: 16px;
        font-weight: 500;
    }
}

hr{
    color: var(--secondaryColor);
    opacity: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media (max-width: 550px){
    .bgSection{
        width: 100%;

        .imageSection{
            width: 100%;

            .bgImageMobile{
                display: block;
            }
            
            .bgImageDesktop{
                display: none;
            }
        }
    }

    main{
        width: 90%;
    }

    .block{
        .displayBlock{
            .imageSection{
                width: 10%;
            }
        }
    }
} 